<ol>
  @for (crumb of crumbs(); track crumb.label; let last = $last) {
    <li>
      @if (!last && (crumb.routerLink || crumb.href)) {
        @if (crumb.routerLink) {
          <a [routerLink]="crumb.routerLink" [queryParams]="crumb.queryParams">{{ crumb.label }}</a>
        } @else {
          <a [href]="crumb.href">{{ crumb.label }}</a>
        }
      } @else {
        <span [attr.aria-current]="last ? 'page' : null">{{ crumb.label }}</span>
      }
      @if (!last) {
        <span class="breadcrumb__sep" aria-hidden="true">/</span>
      }
    </li>
  }
</ol>
